body {
    cursor: default;
}

#home {
    display: flex;
}

#home>a {
    color: white;
    margin: auto;
    margin-top: 1rem;
    font-size: 1.25rem;
    text-transform: none !important;
    letter-spacing: .2em;
}

#home>a:hover {
    font-size: 1.5rem;
}

#welcome {
    opacity: 0.3;
}

.work-thumb>img {
    border-color: #15737e;
}

.work-text>p {
    color: rgba(255, 255, 255, 1) !important;
}

.section {
    background-color: #15737e;
}

.section-title {
    color: white;
    font-size: 2.5rem;
}

#back-to-top {
    width: 100%;
    display: flex;
}

#back-to-top>a {
    color: white;
    margin: auto;
    cursor: pointer;
    font-size: 1.25rem;
}

#back-to-top>a:hover {
    font-size: 1.5rem;
}