body {
    cursor: default;
    background-color: #f8f9fa;
}

.navbar-brand {
    text-transform: none !important;
    margin-top: 1rem;
    color: black !important;
    cursor: pointer;
}

.left {
    margin-left: 0;
}

.mid {
    margin: auto;
}

.right {
    margin-right: 0;
}

.navbar-brand:hover {
    transform: scale(1.2, 1.2);
}

.content>h3 {
    margin-bottom: 10px !important;
}

.content>p {
    line-height: 35px;
    font-size: 1.3rem;
}